// FOOTER :: START
footer.footer
  .pre-footer
    .container
      .pre-footer__wrapper
        .pre-footer__item.wow
          h2 О компании
          ul
            li
              a(href="#") История
            li
              a(href="#") Достиженя
            li
              a(href="#") Наша команда
            li
              a(href="#") Миссия и ценности
            li
              a(href="#") Почему мы?
            li
              a(href="#") Лицензии и сертификаты
            li
              a(href="#") Пресс-кит
        .pre-footer__item.wow(data-animation-delay=".1s")
          h2 Продукты
          ul
            li
              a(href="#") Продукт 1
            li
              a(href="#") Продукт 2
            li
              a(href="#") Продукт 3
            li
              a(href="#") Продукт 4
            li
              a(href="#") Продукт 5
            li
              a(href="#") Продукт 6
            li
              a(href="#") Продукт 7
            li
              a(href="#") Контактный центр
        .pre-footer__item.wow(data-animation-delay=".2s")
          h2 Технологии и поддержка
          ul
            li
              a(href="#") VSAT    
            li
              a(href="#") Спутники и карта покрытия
            li
              a(href="#") Вендор 1
            li
              a(href="#") Вендор 2
            li
              a(href="#") Вендор 3
            li
              a(href="#") Вендор 4
        .pre-footer__item.wow(data-animation-delay=".3s")
          h2 Техническая поддержка
          ul
            li
              a(href="#") Контакты и время работы 
            li
              a(href="#") Функционал (чем мы можем помочь)  
            li
              a(href="#") Сервисные пакеты обслуживания 
            li
              a(href="#") Контактный центр (call-center)
        .pre-footer__item.wow(data-animation-delay=".4s")
          h2 Акции и предложения
          ul
            li
              a(href="#") Контакты и время работы 
            li
              a(href="#") Функционал (чем мы можем помочь)  
            li
              a(href="#") Сервисные пакеты обслуживания 
            li
              a(href="#") Контактный центр (call-center)

  // Bottom
  .container
    .footer__wrapper.wow(data-animation-delay=".5s")
      .footer__left
        p © 2004 АО «АМТЕЛ-СВЯЗЬ»
        p
          span 125315, г. Москва, Ленинградский проспект, д. 80/37
      .footer__middle
        a.phone(href="#") +7 (495) 983-04-04
        a.mail(href="#") info@amtelcom.ru
      a.footer__sitemap(href='#') Карта сайта
      div.footer__icons
        a.footer__icon.fb-icon(href="#")
          .a-overlay
          +icon('ico-fb')
        a.footer__icon.vk-icon(href="#")
          .a-overlay
          +icon('ico-vk')
        a.footer__icon.insta-icon(href="#")
          .a-overlay
          +icon('ico-insta')

// FOOTER :: END
