// FOOTER :: START
footer.footer
  .container
    .footer__wrapper
      p © 2004 АО «АМТЕЛ-СВЯЗЬ»
      p 125315, г. Москва, Ленинградский проспект, д. 80/37
      a.footer__sitemap(href='#') Карта сайта
      div.footer__icons
        a.footer__icon.fb-icon(href="#")
          +icon('ico-fb')
        a.footer__icon.vk-icon(href="#")
          +icon('ico-vk')
        a.footer__icon.insta-icon(href="#")
          +icon('ico-insta')

      
      
// FOOTER :: END
