// HEADER :: START
header.header.wow(data-animation-class="wowFadeRight")
  .container
    .header__wrapper
      .header__logo-container
        a(href="homepage.html")
          img(src="img/logotype.svg", alt="").header__logotype
        img(src="img/digital.svg", alt="").header__logo-info
      .header__main
        .header__main-links
          a(href="callto:+74959830404").header__phone +7 (495) 983-04-04
          a(href="mailto:info@amtelcom.ru").header__email info@amtelcom.ru
        form(action="#").header__form
          .ui-input
            input(type="text" placeholder="Поиск" id="search-input")
        a(href="private.html").header__prof-link Личный кабинет
          span
            +icon('ico-case-icon')
        a(href="#").header__language Eng

      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner
  
  // NAV
  nav
    .container
      ul.main-nav
        li.dropdown
          a.open-dropdown(href="#")
          a(href='#')
            span О компании
          ul.dropdown-list
            li
              a(href='#')
                span История
            li
              a(href='#')
                span Достижения
            li
              a(href='#')
                span Наша команда
            li
              a(href='#')
                span Миссия и ценности
            li
              a(href='#')
                span Почему мы?
            li
              a(href='#')
                span Лицензии и сертификаты
            li
              a(href='#')
                span Пресс-кит
        li
          a(href='products.html')
            span Продукты
        li
          a(href='#')
            span Решения
        li
          a(href='equipment.html')
            span Технологии и оборудование
        li
          a(href='#')
            span Техническая поддержка
        li
          a(href='promotions.html')
            span Акции и предложения
        li
          a(href='#')
            span Калькулятор
        li
          a(href='contacts.html')
            span Контакты
          										
// HEADER :: END
