// HEADER :: START
header.header
  .container
    .header__wrapper
      .header__logo-container
        a(href="#")
          img(src="img/logotype.svg", alt="").header__logotype
        img(src="icons/adv.svg", alt="").header__logo-info
      .header__main
        .header__main-links
          a(href="callto:+74959830404").header__phone +7 (495) 983-04-04
          a(href="mailto:info@amtelcom.ru").header__email info@amtelcom.ru
        form(action="#").header__form
          .ui-input
            input(type="text" placeholder="Поиск" id="search-input")
        a(href="#").header__prof-link Личный кабинет
        a(href="#").header__language Eng

      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner
        
// HEADER :: END
