// HEADER :: START
header.header
  .container
    .header__wrapper
      .header__logo-container
        a(href="#")
          img(src="img/logotype.svg", alt="").header__logotype
        img(src="img/digital.svg", alt="").header__logo-info
      .header__main
        .header__main-links
          a(href="callto:+74959830404").header__phone +7 (495) 983-04-04
          a(href="mailto:info@amtelcom.ru").header__email info@amtelcom.ru
        form(action="#").header__form
          .ui-input
            input(type="text" placeholder="Поиск" id="search-input")
        a(href="#").header__prof-link Личный кабинет
        a(href="#").header__language Eng

      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner

//- #cssmenu
//-   ul.main-nav
//-     li.active
//-       a(href='#') О компании
//-       ul
//-         li
//-           a(href='#') История
//-         li
//-           a(href='#') Достижения
//-         li
//-           a(href='#') Наша команда
//-         li
//-           a(href='#') Миссия и ценности
//-         li
//-           a(href='#') Почему мы?
//-         li
//-           a(href='#') Лицензии и сертификаты
//-         li
//-           a(href='#') Пресс-кит
//- 
//-         //- li
//-         //-   a(href='#') Product 2
//-         //-   ul
//-         //-     li
//-         //-       a(href='#') Sub Product
//-         //-     li
//-         //-       a(href='#') Sub Product
//-     li
//-       a(href='#') Продукты
//-     li
//-       a(href='#') Решения
//-     li
//-       a(href='#') Технологии и оборудование
//-     li
//-       a(href='#') Техническая поддержка
//-     li
//-       a(href='#') Акции и предложения
//-     li
//-       a(href='#') Калькулятор
//-     li
//-       a(href='#') Контакты
          										
// HEADER :: END
