// HEADER :: START
header.header
  .container
    .header__wrapper
      .header__logo-container
        a(href="#")
          img(src="img/logotype.svg", alt="").header__logotype
        img(src="img/digital.svg", alt="").header__logo-info
      .header__main
        .header__main-links
          a(href="callto:+74959830404").header__phone +7 (495) 983-04-04
          a(href="mailto:info@amtelcom.ru").header__email info@amtelcom.ru
        form(action="#").header__form
          .ui-input
            input(type="text" placeholder="Поиск" id="search-input")
        a(href="#").header__prof-link Личный кабинет
        a(href="#").header__language Eng

      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner
  nav
    .container
      ul.main-nav
        li.dropdown
          a.open-dropdown(href="#") +
          a(href='#')
            span О компании
          ul.dropdown-list
            li
              a(href='#')
                span История
            li
              a(href='#')
                span Достижения
            li
              a(href='#')
                span Наша команда
            li
              a(href='#')
                span Миссия и ценности
            li
              a(href='#')
                span Почему мы?
            li
              a(href='#')
                span Лицензии и сертификаты
            li
              a(href='#')
                span Пресс-кит
        li
          a(href='#')
            span Продукты
        li
          a(href='#')
            span Решения
        li
          a(href='#')
            span Технологии и оборудование
        li
          a(href='#')
            span Техническая поддержка
        li
          a(href='#')
            span Акции и предложения
        li
          a(href='#')
            span Калькулятор
        li
          a(href='#')
            span Контакты
          										
// HEADER :: END
