// POPUPS :: START
#order1.white-popup.mfp-hide.mfp-with-anim
  h2 Заполните данные
  form.js-registration-form(action="#" method="post")
    .ui-input
      input(type="text" name="last_name" placeholder="Фамилия*")
    .ui-input
      input(type="text" name="first_name" placeholder="Имя*")
    .ui-input
      input(type="text" name="ot_name" placeholder="Отчество*")
    .ui-input
      input(type="text" name="phone" placeholder="Телефон*")
    .ui-input
      input(type="text" name="email" placeholder="E-mail*")
    .ui-input
      input(type="text" placeholder="Компания")
    .ui-input.submit-input
      input.btn(type="submit" value="Отправить запрос")
    p *Поля для обязательного заполнения.



// POPUPS :: END
