// POPUPS :: START
#order1.white-popup.mfp-hide.mfp-with-anim
  h2 Заполните данные
  form.js-registration-form(action="#" method="post")
    .ui-input
      input(type="text" name="last_name" placeholder="Фамилия*")
    .ui-input
      input(type="text" name="first_name" placeholder="Имя*")
    .ui-input
      input(type="text" name="ot_name" placeholder="Отчество*")
    .ui-input
      input(type="text" name="phone" placeholder="Телефон*")
    .ui-input
      input(type="text" name="email" placeholder="E-mail*")
    .ui-input
      input(type="text" placeholder="Компания")
    .ui-input.submit-input
      input.btn(type="submit" value="Отправить запрос")
    p *Поля для обязательного заполнения.

#popup-table.table-popup.mfp-hide.mfp-with-anim
  .table-overflow
    table
      tr
        th Тарифный план
        th Скорость, Мб
        th Объем трафика, Гб
        th Серийный номер модема
        th Абонентская плата в месяц
        th 1 Мб сверх трафика
        th Плата за тел. Порт*
        th 1 мин ПД для ПГИ
      tr
        td 5
        td 1024/512
        td 7
        td 12312-45
        td 18762 ₽
        td 2,30 ₽
        td 796,50 ₽
        td 1,71 ₽
      tr
        td 5
        td 1024/512
        td 7
        td 12312-45
        td 18762 ₽
        td 2,30 ₽
        td 796,50 ₽
        td 1,71 ₽
      tr
        td 5
        td 1024/512
        td 7
        td 12312-45
        td 18762 ₽
        td 2,30 ₽
        td 796,50 ₽
        td 1,71 ₽
      tr
        td 5
        td 1024/512
        td 7
        td 12312-45
        td 18762 ₽
        td 2,30 ₽
        td 796,50 ₽
        td 1,71 ₽
      tr
        td 5
        td 1024/512
        td 7
        td 12312-45
        td 18762 ₽
        td 2,30 ₽
        td 796,50 ₽
        td 1,71 ₽
      tr
        td 5
        td 1024/512
        td 7
        td 12312-45
        td 18762 ₽
        td 2,30 ₽
        td 796,50 ₽
        td 1,71 ₽
      tr
        td 5
        td 1024/512
        td 7
        td 12312-45
        td 18762 ₽
        td 2,30 ₽
        td 796,50 ₽
        td 1,71 ₽
      tr
        td 5
        td 1024/512
        td 7
        td 12312-45
        td 18762 ₽
        td 2,30 ₽
        td 796,50 ₽
        td 1,71 ₽
      tr
        td 5
        td 1024/512
        td 7
        td 12312-45
        td 18762 ₽
        td 2,30 ₽
        td 796,50 ₽
        td 1,71 ₽
      tr
        td 5
        td 1024/512
        td 7
        td 12312-45
        td 18762 ₽
        td 2,30 ₽
        td 796,50 ₽
        td 1,71 ₽
      tr
        td 5
        td 1024/512
        td 7
        td 12312-45
        td 18762 ₽
        td 2,30 ₽
        td 796,50 ₽
        td 1,71 ₽
    a.download-table(href="#")
      span Скачать в формате xls

// POPUPS :: END
