// PRE-FOOTER :: START
.pre-footer
  .container
    .pre-footer__wrapper
      .pre-footer__item
        h2 О компании
        ul
          li
            a(href="#") История
          li
            a(href="#") Достиженя
          li
            a(href="#") Наша команда
          li
            a(href="#") Миссия и ценности
          li
            a(href="#") Почему мы?
          li
            a(href="#") Лицензии и сертификаты
          li
            a(href="#") Пресс-кит
      .pre-footer__item
        h2 Продукты
        ul
          li
            a(href="#") Продукт 1
          li
            a(href="#") Продукт 2
          li
            a(href="#") Продукт 3
          li
            a(href="#") Продукт 4
          li
            a(href="#") Продукт 5
          li
            a(href="#") Продукт 6
          li
            a(href="#") Продукт 7
          li
            a(href="#") Контактный центр
      .pre-footer__item
        h2 Технологии и поддержка
        ul
          li
            a(href="#") VSAT    
          li
            a(href="#") Спутники и карта покрытия
          li
            a(href="#") Вендор 1
          li
            a(href="#") Вендор 2
          li
            a(href="#") Вендор 3
          li
            a(href="#") Вендор 4
      .pre-footer__item
        h2 Техническая поддержка
        ul
          li
            a(href="#") Контакты и время работы 
          li
            a(href="#") Функционал (чем мы можем помочь)  
          li
            a(href="#") Сервисные пакеты обслуживания 
          li
            a(href="#") Контактный центр (call-center)
      .pre-footer__item
        h2 Акции и предложения
        ul
          li
            a(href="#") Контакты и время работы 
          li
            a(href="#") Функционал (чем мы можем помочь)  
          li
            a(href="#") Сервисные пакеты обслуживания 
          li
            a(href="#") Контактный центр (call-center)

      
      
// PRE-FOOTER :: END
