---
title: Contacts
bodyClass: contacts-page
---
extends shared/_layout
block content

    // section
    section
      .page-head
        .head-bg.wow(data-animation-class="wowFadeLeft" style="background-image: url(img/bg-contacts.jpg)")
        .container
          ul.breadcrumbs.wow
            li
              a(href="#") Главная
            li
              a(href="#")
                +icon('ico-arrow')
            li
              a(href="#") Контактная информация
          h2.wow Контактная информация
    // section
    section
      .contacts
        .container
          .contacts__grid
            // col
            .contacts__item.wow
              .contacts__item-image.card-icon
              .contacts__info
                h3 АО «АМТЕЛ-СВЯЗЬ»
                p
                  strong Адрес:
                p 125315, г. Москва, ул. Ленинградский пр-т, д. 80, корп. 37
            // col
            .contacts__item.wow
              .contacts__item-image.phone-icon
              .contacts__info
                h3 Телефон/Факс:
                p 
                  a(href="tel:+74959830404") +7 (495) 983-04-04/29
                p 
                  a(href="tel:88002000429") 8 (800) 200-04-29
                  |  (бесплатный на территории РФ)
                p
                  strong Электронная почта:
                a(href="mailto:informa_amtelcom_ru") informa_amtelcom_ru
    // section
    section.wow(data-animation-class="wowFadeRight")
      #map
