---
title: Equipment title
bodyClass: equipment-page
---
extends shared/_layout
block content

    // section
    section
      .page-head
        .head-bg(style="background-image: url(img/bg-mountains.jpg)")
        .container
          ul.breadcrumbs
            li
              a(href="#") Главная
            li
              a(href="#")
                +icon('ico-arrow')
            li
              a(href="#") Технологии и оборудование
          h2 Выберите тип станции:
    // section
    section
      .products
        .container
          .check__grid
            .check__item.radio-item
              label(for="radio_1") Стационарная
              input(type="radio" value="1000" price="1" id="radio_1" name="group1" data-product-name="Стационарная")
            .check__item.radio-item
              label(for="radio_2") Подвижная
              input(type="radio" value="2000" price="1" id="radio_2" name="group1" data-product-name="Подвижная")
            .check__item.radio-item
              label(for="radio_3") Морская
              input(type="radio" value="3000" price="1" id="radio_3" name="group1" data-product-name="Морская")
            
          .info-container
            h2 Оборудование iDirect 
            p.p-small Оборудование компании бесспорно является одним из лучших и соответствует всем современным требованиям корпоративных сетей связи. Это доказано успешным опытом мировой эксплуатации модемов серий iNFINITI и Evolution. Кроме того, при его разработке используются результаты исследований гражданского назначения.  
            p.p-small Система iDirect является двунаправленным широкополосным решением, использующим схему доступа TDMA в прямом и MF-D-TDMA в обратном каналах связи. 
          .info-container
            h3 В своей сети мы поддерживаем линейки оборудования:
            .check__grid
              .check__item.radio-item
                label(for="radio_4")
                  p.l-name iNFINITI 3100
                  .l-price
                    p 3100 ₽
                  img(src="img/e-3100.png" alt="")
                input(type="radio" value="3100" price="1" id="radio_4" name="group2" data-product-name="iNFINITI 3100" class="product-type")
              .check__item.radio-item
                label(for="radio_5")
                  p.l-name iNFINITI 5300
                  .l-price
                    p 5300 ₽
                  img(src="img/e-5300.png" alt="")
                input(type="radio" value="5300" price="1" id="radio_5" name="group2" data-product-name="iNFINITI 5300" class="product-type")
              .check__item.radio-item
                label(for="radio_6")
                  p.l-name Evolution X1
                  .l-price
                    p 11000 ₽
                  img(src="img/e-x1.png" alt="")
                input(type="radio" value="11000" price="1" id="radio_6" name="group2" data-product-name="Evolution X1" class="product-type")
              .check__item.radio-item
                label(for="radio_7")
                  p.l-name Evolution X3
                  .l-price
                    p 13000 ₽
                  img(src="img/e-x5.png" alt="")
                input(type="radio" value="13000" price="1" id="radio_7" name="group2" data-product-name="Evolution X3" class="product-type")
              .check__item.radio-item
                label(for="radio_8")
                  p.l-name Evolution X5
                  .l-price
                    p 15000 ₽
                  img(src="img/e-x5.png" alt="")
                input(type="radio" value="15000" price="1" id="radio_8" name="group2" data-product-name="Evolution X5" class="product-type")
              .check__item.radio-item
                label(for="radio_9")
                  p.l-name Evolution X7
                  .l-price
                    p 17000 ₽
                  img(src="img/e-x7.png" alt="")
                input(type="radio" value="17000" price="1" id="radio_9" name="group2" data-product-name="Evolution X7" class="product-type")
            p.p-small Оборудование компании бесспорно является одним из лучших и соответствует всем современным требованиям корпоративных сетей связи. Это доказано успешным опытом мировой эксплуатации модемов серий iNFINITI и Evolution. Кроме того, при его разработке используются результаты исследований гражданского назначения.
          .info-container
            h2 Подходящий антенный комплекс 
            .check__grid
              .check__item.radio-item
                label(for="radio_10")
                  p.l-name Антенна 1
                  p.l-info 1,2 м
                  .l-price
                    p 97 033 ₽
                input(type="radio" value="97 03310" price="1" id="radio_10" name="group3" data-product-name="Антенна 1" class="product-complex")
              .check__item.radio-item
                label(for="radio_11")
                  p.l-name Антенна 2
                  p.l-info 1,2 м
                  .l-price
                    p 97 033 ₽
                input(type="radio" value="97 033" price="1" id="radio_11" name="group3" data-product-name="Антенна 2" class="product-complex")
              .check__item.radio-item
                label(for="radio_12")
                  p.l-name Антенна 3
                  p.l-info 1,2 м
                  .l-price
                    p 97 033 ₽
                input(type="radio" value="97 033" price="1" id="radio_12" name="group3" data-product-name="Антенна 3" class="product-complex")
          .info-container
            h3 Не забудьте купить передатчик:
            .check__grid
              .check__item.radio-item
                label(for="radio_13")
                  p.l-name Передатчик
                  p.l-info 2 ВТ
                  .l-price
                    p 278 204 ₽
                input(type="radio" value="278 204" price="1" id="radio_13" name="group4" data-product-name="Передатчик 2 ВТ" class="product-translator")
              .check__item.radio-item
                label(for="radio_14")
                  p.l-name Передатчик
                  p.l-info 4 ВТ
                  .l-price
                    p 278 204 ₽
                input(type="radio" value="278 204" price="1" id="radio_14" name="group4" data-product-name="Передатчик 4 ВТ" class="product-translator")
              .check__item.radio-item
                label(for="radio_15")
                  p.l-name Передатчик
                  p.l-info 6 ВТ
                  .l-price
                    p 278 204 ₽
                input(type="radio" value="278 204" price="1" id="radio_15" name="group4" data-product-name="Передатчик 6 ВТ" class="product-translator")
              .check__item.radio-item
                label(for="radio_16")
                  p.l-name Передатчик
                  p.l-info 10 ВТ
                  .l-price
                    p 278 204 ₽
                input(type="radio" value="278 204" price="1" id="radio_16" name="group4" data-product-name="Передатчик 10 ВТ" class="product-translator")
              .check__item.radio-item
                label(for="radio_17")
                  p.l-name Передатчик
                  p.l-info 12 ВТ
                  .l-price
                    p 278 204 ₽
                input(type="radio" value="278 204" price="1" id="radio_17" name="group4" data-product-name="Передатчик 12 ВТ" class="product-translator")
          .info-container
            h3 И LNB приемник:
            .price.price--red
              p LNB приемник
              p.bg-white Стоиомсть от  
                span 9 214 ₽
                  input(type="radio" checked value="9214" price="1")
          .info-container
            h2 Поздравляем!
            .price
              p Рекомендованный комплект
              p.bg-white Затраты на приобретение от  
                span#pay_price2  280 000 ₽
          .info-container
            h2 Выберите дополнительные опции
            p Опции можно приобрести как комплексно так и по отдельности.
            .checkbox__grid
              .checkbox
                label(for="checkbox_1") Комплект для установки в стойку 19 дюймов
                input.checkbox(type="checkbox" price="1" value="1" id="checkbox_1" data-product-name="Комплект для установки в стойку 19 дюймов" class="product-option")
              .checkbox
                label(for="checkbox_2") Кабель коаксильный RG-11
                input.checkbox(type="checkbox" price="1" value="2" id="checkbox_2" data-product-name="Кабель коаксильный RG-11" class="product-option")
              .checkbox
                label(for="checkbox_3") Маршрутизатор
                input.checkbox(type="checkbox" price="1" value="3" id="checkbox_3" data-product-name="Маршрутизатор" class="product-option")
              .checkbox
                label(for="checkbox_4") Голосовой шлюз
                input.checkbox(type="checkbox" price="1" value="4" id="checkbox_4" data-product-name="Голосовой шлюз" class="product-option")
              .checkbox
                label(for="checkbox_5") Опора для антенны в зависимости от диаметра
                input.checkbox(type="checkbox" price="1" value="5" id="checkbox_5" data-product-name="Опора для антенны в зависимости от диаметра" class="product-option")
              .checkbox
                label(for="checkbox_6") Инструмент для обжима CRP 106F
                input.checkbox(type="checkbox" price="1" value="6" id="checkbox_6" data-product-name="Инструмент для обжима CRP 106F" class="product-option")
              .checkbox
                label(for="checkbox_7") Разъем для кабеля RG-11
                input.checkbox(type="checkbox" price="1" value="7" id="checkbox_7" data-product-name="Разъем для кабеля RG-11" class="product-option")
          .info-container
            .table#settingsForm
              .table__head
                .table__head-green.settings-header
                  .table__head-item
                    p Модуль
                  .table__head-item
                    p Антенна
                  .table__head-item
                    p Переходник
                  .table__head-item
                    p LNB приемник
                .table__head-white.settings-value
                  .table__head-item
                    p Стоимость
                  .table__head-item
                    p Стоимость
                  .table__head-item
                    p Стосимость
                  .table__head-item
                    p от 9 214 ₽
              .table__middle.settings-options
                p.g-check.empty Выберите опции
              .table__bottom
                p Стоимость оборудования:
                p#pay_price 48 762 ₽
            h3 Хотите скидку? Отправьте запрос!
          .buttons.buttons--equipment
            a.btn.open-popup(href="#order1" data-effect="mfp-zoom-in") Отправить запрос
            a.btn(href="#") Сохранить расчёт
            a.btn.btn--grey(href="#") Вернуться на предыдущий шаг
          p.p-mini *Предложение не является публичной офертой и для получения окончательного предложения обратитесь в коммерческую дирекцию с помощью опции «Отправить запрос».
