---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content
    
    // section
    section
      .main-slider
        .item(style="background-image: url(img/bg-slider-1.jpg)")
          .container
            p.main-slider__title Превосходство технологий
        .item(style="background-image: url(img/bg-slider-2.jpg)")
          .container
            p.main-slider__title Превосходство роста
        .item(style="background-image: url(img/bg-slider-3.jpg)")
          .container
            p.main-slider__title Равенство
        .item(style="background-image: url(img/bg-slider-4.jpg)")
          .container
            p.main-slider__title Технологии
