---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content
    
    // section
    section
      .main-slider
        .item(style="background-image: url(img/bg-slider-1.jpg)")
          .container
            p.main-slider__title.p-item-1 Превосходство технологий
        .item(style="background-image: url(img/bg-slider-2.jpg)")
          .container
            p.main-slider__title.p-item-2 Превосходство роста
        .item(style="background-image: url(img/bg-slider-3.jpg)")
          .container
            p.main-slider__title.p-item-3 Равенство
        .item(style="background-image: url(img/bg-slider-4.jpg)")
          .container
            p.main-slider__title.p-item-4 Технологии
    // section
    section
      .why-we
        .container.wow.wowFadeLeft
          h2 Почему АМТЕЛ-СВЯЗЬ?
          .why-we__grid
            .why-we__item
              .why-we__image
                img(src="img/hands-icon.svg" alt="")
              p Развитая партнерская сеть
            .why-we__item
              .why-we__image
                img(src="img/peoples.svg" alt="")
              p Более 14 лет на рынке спутниковой связи
            .why-we__item
              .why-we__image
                img(src="img/people.svg" alt="")
              p Свыше 500 клиентов в государственном и предпринимательском секторах
            .why-we__item
              .why-we__image
                img(src="img/vsat.svg" alt="")
              p Обеспечение связи на 9500 объектах VSAT по всей территории РФ
            .why-we__item
              .why-we__image
                img(src="img/nano.svg" alt="")
              p Современное оборудование и инновационные технологии для работы и общения
            .why-we__item
              .why-we__image
                img(src="img/graph.svg" alt="")
              p Более 100 реализованный федеральных проектов
    // section
    section
      .why-we.advantages
        .container.wow.wowFadeRight
          h2 Наши преимущества:
          .why-we__grid
            .why-we__item
              .why-we__image.b--im
                img(src="img/puzzle.svg" alt="")
              p Техническая поддержка 24/7
            .why-we__item
              .why-we__image.b--im
                img(src="img/radio.svg" alt="")
              p Полный комплекс услуг наземной и спутниковой связи
            .why-we__item
              .why-we__image.b--im
                img(src="img/sputnik.svg" alt="")
              p Услуги широкополосного спутникового доступа на всей территории РФ
            .why-we__item
              .why-we__image.b--im
                img(src="img/teh.svg" alt="")
              p Высококлассный персонал
            .why-we__item
              .why-we__image.b--im
                img(src="img/rocket.svg" alt="")
              p Оперативность развертывания телекоммуникационной инфраструктуры
            .why-we__item
              .why-we__image.b--im
                img(src="img/qual.svg" alt="")
              p Современные технологии и высокое качество связи
    // section
    section
      .main-info
        .container.wow.wowFadeLeft
          .main-info__grid
            .main-info__item
              a.news__title(href="#")
                h2 Новости
              a.news__item(href="#")
                .news__item-image
                  img(src="img/worker-1.png" alt="")
                .news__item-info
                  p.news__item-date 34 декабря 2017
                  p.news__item-title Уважаемые абоненты! Все будет хорошо! Но может быть всякое)
                p.news__item-more-info В этот период возможны перерывы сервиса суммарной продолжительностью до 30 минут  на VSAT-станциях, работающих через космический аппарат «Экспресс-АМ6». Просим получателей данного уведомления передать информацию в технические службы и уполномоченным лицам. Приносим свои извинения за доставленные неудобства.
              a.news__item(href="#")
                .news__item-image
                  img(src="img/worker-2.png" alt="")
                .news__item-info
                  p.news__item-date 34 декабря 2017
                  p.news__item-title Уважаемые абоненты! Все будет хорошо! Но может быть всякое)
                p.news__item-more-info В этот период возможны перерывы сервиса суммарной продолжительностью до 30 минут  на VSAT-станциях, работающих через космический аппарат «Экспресс-АМ6». Просим получателей данного уведомления передать информацию в технические службы и уполномоченным лицам. Приносим свои извинения за доставленные неудобства.
            .main-info__item
              h2 О компании
              ul
                li
                  p
                    strong • АМТЕЛ-СВЯЗЬ 
                    | – федеральный оператор связи, который предоставляет услуги высокоскоростного доступа в сеть Интернет через двусторонний спутниковый канал связи на всей территории России.
                li
                  p • Компания основана в 2004 г. и за годы работы приобрела репутацию надежного партнера на рынке VSAT-технологий.
            .main-info__item
              h2 Нам доверяют
              .trust__item
                .trust__item-image
                  img(src="img/lukoil.svg" alt="")
                p.trust__title ЛУКОЙЛ
                p.trust__info Одна из крупнейших публичных вертикально интегрированных нефтегазовых компаний в мире, на долю которой приходится более 2% мировой добычи нефти и около 1% доказанных запасов углеводородов.
              .trust__item
                .trust__item-image
                  img(src="img/rostele.svg" alt="")
                p.trust__title ПАО «Ростелеком»
                p.trust__info Одна из крупнейших в России и Европе телекоммуникационных компаний национального масштаба, присутствующая во всех сегментах рынка услуг связи и охватывающая миллионы домохозяйств в России.
                    
                    
                    
                    
                    
                    
                    
