---
title: News title
bodyClass: new-page
---
extends shared/_layout
block content

    // section
    section
      .page-head
        .head-bg(style="background-image: url(img/bg-promotions.jpg)")
        .container
          ul.breadcrumbs
            li
              a(href="#") Главная
            li
              a(href="#")
                +icon('ico-arrow')
            li
              a(href="#") Новости
          h2 Уважаемые абоненты! Все будет хорошо!
    // section
    section
      .one-news-page
        .container
          .one-news-page__grid
            .one-news-page__image
              img(src="img/bonus-img.jpg" alt="")
            .one-news-page__info
              p Бонус на кошелек или счёт — один из видов маркетинговых ходов в Интернете, заключающийся в раздаче денег (обычно на электронные счета пользователей, реже на счет сотового телефона) соответствующими сайтами с целью привлечь посетителей или просто для повышения его посещаемости.
              p Бонус за вход в сетевую розницу — деньги, получаемые торговой точкой (магазином, универсамом, супермаркетом и т. д.), от поставщика (производителя, дистрибьютора, распространителя) продукции за «вход в сеть». При этом оговаривается ассортимент продукции (матрица), место на витрине (полке, холодильнике) и т. д.
              p.margin
                | Страховой бонус — 
                a(href='#') сумма прибыли страховой компании
                | , направляемая на увеличение страховых сумм по договорам долгосрочного страхования.
              p Ретро-бонус или ретро-скидка — премия за покупку товара, уплачиваемая поставщиком покупателю, один из способов стимулирования активности дистрибьюторов.
              p Бонус-трек — дополнительная («подарочная») композиция на компакт-диске или аудиокассете.
              p Игровые бонусы — получаемые в качестве поощрения в процессе прохождения компьютерной игры виртуальные «подарки», помогающие (а иногда и мешающие) прохождению игры.
              p Бонус-уровень — дополнительный уровень в видеоигре, в котором игрок может заработать очки или предметы. Доступ к некоторым бонус-уровням открывается только после выполнения определённых условий. Поражение в бонус-уровне обычно не ведёт к поражению в игре.
              p Бонус — промежуточный финиш в боулдеринге.
              p «Бонус» — российский телесериал 2016 года.
              p Бонус — творческий псевдоним Бориса Репетура.
