---
title: News
bodyClass: new-page
---
extends shared/_layout
block content

    // section
    section
      .page-head
        .head-bg(style="background-image: url(img/bg-promotions.jpg)")
        .container
          ul.breadcrumbs
            li
              a(href="#") Главная
            li
              a(href="#")
                +icon('ico-arrow')
            li
              a(href="#") Новости
          h2 Новости
    // section
    section
      .news
        .container
          .news__grid
            a.news__item(href="#")
              .news__item-image
                img(src="img/worker-1.png" alt="")
              .news__item-info
                p.news__item-date 34 декабря 2017
                p.news__item-title Уважаемые абоненты! Все будет хорошо! Но может быть всякое)
              p.news__item-more-info В этот период возможны перерывы сервиса суммарной продолжительностью до 30 минут  на VSAT-станциях, работающих через космический аппарат «Экспресс-АМ6». Просим получателей данного уведомления передать информацию в технические службы и уполномоченным лицам. Приносим свои извинения за доставленные неудобства.
            a.news__item(href="#")
              .news__item-image
                img(src="img/worker-2.png" alt="")
              .news__item-info
                p.news__item-date 34 декабря 2017
                p.news__item-title Уважаемые абоненты! Все будет хорошо! Но может быть всякое)
              p.news__item-more-info В этот период возможны перерывы сервиса суммарной продолжительностью до 30 минут  на VSAT-станциях, работающих через космический аппарат «Экспресс-АМ6». Просим получателей данного уведомления передать информацию в технические службы и уполномоченным лицам. Приносим свои извинения за доставленные неудобства.
            a.news__item(href="#")
              .news__item-image
                img(src="img/worker-1.png" alt="")
              .news__item-info
                p.news__item-date 34 декабря 2017
                p.news__item-title Уважаемые абоненты! Все будет хорошо! Но может быть всякое)
              p.news__item-more-info В этот период возможны перерывы сервиса суммарной продолжительностью до 30 минут  на VSAT-станциях, работающих через космический аппарат «Экспресс-АМ6». Просим получателей данного уведомления передать информацию в технические службы и уполномоченным лицам. Приносим свои извинения за доставленные неудобства.
            a.news__item(href="#")
              .news__item-image
                img(src="img/worker-2.png" alt="")
              .news__item-info
                p.news__item-date 34 декабря 2017
                p.news__item-title Уважаемые абоненты! Все будет хорошо! Но может быть всякое)
              p.news__item-more-info В этот период возможны перерывы сервиса суммарной продолжительностью до 30 минут  на VSAT-станциях, работающих через космический аппарат «Экспресс-АМ6». Просим получателей данного уведомления передать информацию в технические службы и уполномоченным лицам. Приносим свои извинения за доставленные неудобства.
            a.news__item(href="#")
              .news__item-image
                img(src="img/worker-1.png" alt="")
              .news__item-info
                p.news__item-date 34 декабря 2017
                p.news__item-title Уважаемые абоненты! Все будет хорошо! Но может быть всякое)
              p.news__item-more-info В этот период возможны перерывы сервиса суммарной продолжительностью до 30 минут  на VSAT-станциях, работающих через космический аппарат «Экспресс-АМ6». Просим получателей данного уведомления передать информацию в технические службы и уполномоченным лицам. Приносим свои извинения за доставленные неудобства.
            a.news__item(href="#")
              .news__item-image
                img(src="img/worker-2.png" alt="")
              .news__item-info
                p.news__item-date 34 декабря 2017
                p.news__item-title Уважаемые абоненты! Все будет хорошо! Но может быть всякое)
              p.news__item-more-info В этот период возможны перерывы сервиса суммарной продолжительностью до 30 минут  на VSAT-станциях, работающих через космический аппарат «Экспресс-АМ6». Просим получателей данного уведомления передать информацию в технические службы и уполномоченным лицам. Приносим свои извинения за доставленные неудобства.
            
          a.news__button(href="#") Архив новостей
