---
title: Products title
bodyClass: products-page
---
extends shared/_layout
block content

    // section
    section
      .page-head
        .head-bg(style="background-image: url(img/bg-promotions.jpg)")
        .container
          ul.breadcrumbs
            li
              a(href="#") Главная
            li
              a(href="#")
                +icon('ico-arrow')
            li
              a(href="#") Продукты
          h2 Выберите Вашу потребность
    // section
    section
      .products
        .container
          .check__grid
            .check__item
              label(for="checkbox_1") Выход в интернет
              input(type="checkbox" id="checkbox_1")
            .check__item
              label(for="checkbox_2") Звонки в центральный офис
              input(type="checkbox" id="checkbox_2")
            .check__item
              label(for="checkbox_3") Электронная почта и отчеты начальнику
              input(type="checkbox" id="checkbox_3")
            .check__item
              label(for="checkbox_4") Мессенджеры и соц сети
              input(type="checkbox" id="checkbox_4")
            .check__item
              label(for="checkbox_5") Скачивание и отправка презентаций и графики
              input(type="checkbox" id="checkbox_5")
            .check__item
              label(for="checkbox_6") Безлимитный выход в Интернет
              input(type="checkbox" id="checkbox_6")
            .check__item
              label(for="checkbox_7") Выход в интернет без изменения суточной скорости
              input(type="checkbox" id="checkbox_7")
            .check__item
              label(for="checkbox_8") Индивидуальные каналы связи под ключ
              input(type="checkbox" id="checkbox_8")
            .check__item
              label(for="checkbox_9") Интернет для личного пользования
              input(type="checkbox" id="checkbox_9")
            .check__item
              label(for="checkbox_10") Надежная связь для объекта государственного значения
              input(type="checkbox" id="checkbox_10")
            .check__item
              label(for="checkbox_11") Ораганизация видео-конференций
              input(type="checkbox" id="checkbox_11")
            .check__item
              label(for="checkbox_12") Вебинары и удаленные совещания
              input(type="checkbox" id="checkbox_12")
            .check__item
              label(for="checkbox_13") Точечные видеоконференции или разовая передача данных
              input(type="checkbox" id="checkbox_13")
            .check__item
              label(for="checkbox_14") Сотовая связь на объектах и станциях
              input(type="checkbox" id="checkbox_14")
            .check__item
              label(for="checkbox_15") Организация Системы коллективного доступа
              input(type="checkbox" id="checkbox_15")
            .check__item
              label(for="checkbox_16") Индивидуальное решение
              input(type="checkbox" id="checkbox_16")
            .check__item
              label(for="checkbox_17") Выход в море 
              input(type="checkbox" id="checkbox_17")
            .check__item
              label(for="checkbox_18") Связь в движении
              input(type="checkbox" id="checkbox_18")
            .check__item
              label(for="checkbox_19") Организация магистральных каналов
              input(type="checkbox" id="checkbox_19")
            .check__item
              label(for="checkbox_20") Строительство сложных магистральных объектов
              input(type="checkbox" id="checkbox_20")
            .check__item
              label(for="checkbox_21") Бесперебойная работа поточных приложений в режиме реального времени
              input(type="checkbox" id="checkbox_21")
            .check__item
              label(for="checkbox_22") Добыча полезных ископаемых
              input(type="checkbox" id="checkbox_22")
            .check__item
              label(for="checkbox_23") Социальный объект или государственное учреждение
              input(type="checkbox" id="checkbox_23")
          .info-container
            h2 Продукт 1
            p Разделенные каналы по передачи данных представляют собой пакетные конфигурации предоплаченного трафика при оптимальной скорости в негарантированном канале
          .info-container
            h2 Продукт 2
            p Разделенные каналы по передачи данных представляют собой пакетные конфигурации предоплаченного трафика при оптимальной скорости в негарантированном канале
          .info-container
            select
              option(val="vl1-0" selected disabled) Выберите продукт
              option(val="vl1-1") Продукт 1
              option(val="vl1-2") Продукт 2
          .info-container
            h2 Узнать тариф
            select
              option(val="vl2-0" selected disabled) Выберите трафик в Гб
              option(val="vl2-1") 5
              option(val="vl2-2") 7
          .info-container
            h2 Поздравляем!
            .price
              p Продукт 1, Тарифный план 1
              p.bg-white Затраты в месяц 
                span 18 762 ₽
          .info-container
            h2 Выберите дополнительные опции
            p Опции можно приобрести как комплексно так и по отдельности.
            .checkbox__grid
              .checkbox
                label(for="checkbox_31") Телефония (соединительные линии)
                input.checkbox(type="checkbox" id="checkbox_31")
              .checkbox
                label(for="checkbox_32") Наземные каналы связи
                input.checkbox(type="checkbox" id="checkbox_32")
              .checkbox
                label(for="checkbox_33") Детализация ПД за прошедший период
                input.checkbox(type="checkbox" id="checkbox_33")
              .checkbox
                label(for="checkbox_34") Телефония (идентификационные коды)
                input.checkbox(type="checkbox" id="checkbox_34")
              .checkbox
                label(for="checkbox_35") Поддержка коммутационного оборудования
                input.checkbox(type="checkbox" id="checkbox_35")
              .checkbox
                label(for="checkbox_36") ПДПГИ детализация разовая за прошедший период
                input.checkbox(type="checkbox" id="checkbox_36")
              .checkbox
                label(for="checkbox_37") МГМН (телематика)
                input.checkbox(type="checkbox" id="checkbox_37")
              .checkbox
                label(for="checkbox_38") Размещение оборудования в стойке оператора
                input.checkbox(type="checkbox" id="checkbox_38")
              .checkbox
                label(for="checkbox_38") ПДПГИ детализация ежемесячная
                input.checkbox(type="checkbox" id="checkbox_38")
              .checkbox
                label(for="checkbox_38") Услуга фильтрации трафика
                input.checkbox(type="checkbox" id="checkbox_38")
              .checkbox
                label(for="checkbox_38") Детализация ПД
                input.checkbox(type="checkbox" id="checkbox_38")
          .info-container
            .table
              .table__head
                .table__head-green
                  .table__head-item
                    p Тарифный план
                  .table__head-item
                    p Скорость, Мб
                  .table__head-item
                    p Объем трафика, Гб
                  .table__head-item
                    p Абонентская плата в месяц
                .table__head-white
                  .table__head-item
                    p 5
                  .table__head-item
                    p 1024/512
                  .table__head-item
                    p 7
                  .table__head-item
                    p 7762 ₽
              .table__middle
                p.g-check МГМН (телематика)
                p.g-check Размещение оборудования в стойке оператора
              .table__bottom
                p Стоимость продукта:
                p 7 762 ₽
            p Итоговую стоимость вашего продукта Вам сообщит менеджер. Отправьте запрос.
          .buttons
            a.btn(href="#") Отправить запрос
            a.btn(href="#") Сохранить подбор тарифа
            a.btn.btn--grey(href="#") Вернуться на предыдущий шаг
          p.p-mini *Предложение не является публичной офертой и для получения окончательного предложения обратитесь в коммерческую дирекцию с помощью опции «Отправить запрос».
          a.btn.margin-button(href="#") Подходящее оборудование к выбранному тарифу
                
                
