---
title: Products title
bodyClass: products-page
---
extends shared/_layout
block content

    // slider section
    section.wow(data-animation-class="wowFadeLeft")
      .main-slider
        .item(style="background-image: url(img/bg-slider-1.jpg)")
          .container
            p.main-slider__title.p-item-1 Превосходство технологий
        .item(style="background-image: url(img/bg-slider-2.jpg)")
          .container
            p.main-slider__title.p-item-2 Превосходство роста
        .item(style="background-image: url(img/bg-slider-3.jpg)")
          .container
            p.main-slider__title.p-item-3 Равенство
        .item(style="background-image: url(img/bg-slider-4.jpg)")
          .container
            p.main-slider__title.p-item-4 Технологии
    // crumbs section
    section
      .page-head
        .container
          ul.breadcrumbs.wow
            li
              a(href="#") Главная
            li
              a(href="#")
                +icon('ico-arrow')
            li
              a(href="#") Продукты
          h2.wow Выберите Вашу потребность
          
    // calc section
    section
      form(action="#" js-products-form).products
        .container
          // select product
          .check__grid.wow
            .check__item.checkbox-item
              label(for="type_1") Выход в интернет
              input(type="checkbox" name="type" id="type_1" value="1")
            .check__item.type-item
              label(for="type_2") Звонки в центральный офис
              input(type="checkbox" name="type" id="type_2" value="2")
            .check__item.type-item
              label(for="type_3") Электронная почта и отчеты начальнику
              input(type="checkbox" name="type" id="type_3" value="3")
            .check__item.type-item
              label(for="type_4") Мессенджеры и соц сети
              input(type="checkbox" name="type" id="type_4" value="4")
            .check__item.type-item
              label(for="type_5") Скачивание и отправка презентаций и графики
              input(type="checkbox" name="type" id="type_5" value="5")
            .check__item.type-item
              label(for="type_6") Безлимитный выход в Интернет
              input(type="checkbox" name="type" id="type_6" value="6")
            .check__item.type-item
              label(for="type_7") Выход в интернет без изменения суточной скорости
              input(type="checkbox" name="type" id="type_7" value="7")
            .check__item.type-item
              label(for="type_8") Индивидуальные каналы связи под ключ
              input(type="checkbox" name="type" id="type_8" value="8")
            .check__item.type-item
              label(for="type_9") Интернет для личного пользования
              input(type="checkbox" name="type" id="type_9" value="9")
            .check__item.type-item
              label(for="type_10") Надежная связь для объекта государственного значения
              input(type="checkbox" name="type" id="type_10" value="10")
            .check__item.type-item
              label(for="type_11") Ораганизация видео-конференций
              input(type="checkbox" name="type" id="type_11" value="11")
            .check__item.type-item
              label(for="type_12") Вебинары и удаленные совещания
              input(type="checkbox" name="type" id="type_12" value="12")
            .check__item.type-item
              label(for="type_13") Точечные видеоконференции или разовая передача данных
              input(type="checkbox" name="type" id="type_13" value="13")
            .check__item.type-item
              label(for="type_14") Сотовая связь на объектах и станциях
              input(type="checkbox" name="type" id="type_14" value="14")
            .check__item.type-item
              label(for="type_15") Организация Системы коллективного доступа
              input(type="checkbox" name="type" id="type_15" value="15")
            .check__item.type-item
              label(for="type_16") Индивидуальное решение
              input(type="checkbox" name="type" id="type_16" value="16")
            .check__item.type-item
              label(for="type_17") Выход в море 
              input(type="checkbox" name="type" id="type_17" value="16")
            .check__item.type-item
              label(for="type_18") Связь в движении
              input(type="checkbox" name="type" id="type_18" value="17")
            .check__item.type-item
              label(for="type_19") Организация магистральных каналов
              input(type="checkbox" name="type" id="type_19" value="18")
            .check__item.type-item
              label(for="type_20") Строительство сложных магистральных объектов
              input(type="checkbox" name="type" id="type_20" value="19")
            .check__item.type-item
              label(for="type_21") Бесперебойная работа поточных приложений в режиме реального времени
              input(type="checkbox" name="type" id="type_21" value="20")
            .check__item.type-item
              label(for="type_22") Добыча полезных ископаемых
              input(type="checkbox" name="type" id="type_22" value="21")
            .check__item.type-item
              label(for="type_23") Социальный объект или государственное учреждение
              input(type="checkbox" name="type" id="type_23" value="22")
          // products description
          div(js-set-products)
            // data will be populated from json
          //- .info-container.wow
          //-   h2 Продукт 1
          //-   p Разделенные каналы по передачи данных представляют собой пакетные конфигурации предоплаченного трафика при оптимальной скорости в негарантированном канал
          // choose product
          .info-container.info-container--hidden.wow(js-choose-products)
            select
              option(selected disabled) Выберите продукт
          
          // select tarif
          .info-container.info-container--hidden.wow(js-choose-tarif)
            h2 Узнать тариф
            select
          
          // tarif summary
          .info-container.info-container--hidden.wow(js-set-summary)
            h2 Поздравляем!
            .price
              p(js-set-summaryProduct) Продукт 1, Тарифный план 1
              p.bg-white Затраты в месяц 
                span(js-set-summaryCosts)  18 762 ₽
          
          // options container
          .info-container.info-container--hidden.wow(js-choose-options)
            h2 Выберите дополнительные опции
            p Опции можно приобрести как комплексно так и по отдельности.
            .checkbox__grid
              .checkbox
                label(for="option_1") Телефония (соединительные линии)
                input.checkbox(type="checkbox" name="option" id="option_1" data-price="1000")
              .checkbox
                label(for="option_2") Наземные каналы связи
                input.checkbox(type="checkbox" name="option" id="option_2" data-price="1500")
              .checkbox
                label(for="option_3") Детализация ПД за прошедший период
                input.checkbox(type="checkbox" name="option" id="option_3" data-price="900")
              .checkbox
                label(for="option_4") Телефония (идентификационные коды)
                input.checkbox(type="checkbox" name="option" id="option_4" data-price="600")
              .checkbox
                label(for="option_5") Поддержка коммутационного оборудования
                input.checkbox(type="checkbox" name="option" id="option_5" data-price="2000")
              .checkbox
                label(for="option_6") ПДПГИ детализация разовая за прошедший период
                input.checkbox(type="checkbox" name="option" id="option_6" data-price="3000")
              .checkbox
                label(for="option_7") МГМН (телематика)
                input.checkbox(type="checkbox" name="option" id="option_7" data-price="1500")
              .checkbox
                label(for="option_8") Размещение оборудования в стойке оператора
                input.checkbox(type="checkbox" name="option" id="option_8" data-price="10040")
              .checkbox
                label(for="option_9") ПДПГИ детализация ежемесячная
                input.checkbox(type="checkbox" name="option" id="option_9" data-price="1200")
              .checkbox
                label(for="option_10") Услуга фильтрации трафика
                input.checkbox(type="checkbox" name="option" id="option_10" data-price="300")
              .checkbox
                label(for="option_11") Детализация ПД
                input.checkbox(type="checkbox" name="option" id="option_11" data-price="500")
        
          // table
          .info-container.info-container--hidden.wow(js-calc-table)
            .table
              .table__head
                .table__head-green
                  .table__head-item
                    p Тарифный план
                  .table__head-item
                    p Скорость, Мб
                  .table__head-item
                    p Объем трафика, Гб
                  .table__head-item
                    p Абонентская плата в месяц
                .table__head-white(js-calc-tableSummary)
                  // to be set with js
                  //- .table__head-item
                  //-   p 5

              .table__middle(js-calc-tableOptions)
                // to be set with js
                //- p.g-check МГМН (телематика)
                //- p.g-check Размещение оборудования в стойке оператора
              .table__bottom
                p Стоимость продукта:
                p(js-calc-finalPrice) 7 762 ₽
            p Итоговую стоимость вашего продукта Вам сообщит менеджер. Отправьте запрос.
          
          // cta elements
          .products__cta(js-calc-cta)
            .buttons.wow
              a.btn.open-popup(href="#order1" data-effect="mfp-zoom-in") Отправить запрос
              a.btn(href="#") Сохранить подбор тарифа
              a.btn.btn--grey(href="#") Вернуться на предыдущий шаг
            p.p-mini *Предложение не является публичной офертой и для получения окончательного предложения обратитесь в коммерческую дирекцию с помощью опции «Отправить запрос».
            a.btn.margin-button(href="#") Подходящее оборудование к выбранному тарифу
                  
                  
