---
title: Products title
bodyClass: products-page
---
extends shared/_layout
block content

    // section
    section
      .page-head
        .head-bg(style="background-image: url(img/bg-promotions.jpg)")
        .container
          ul.breadcrumbs
            li
              a(href="#") Главная
            li
              a(href="#")
                +icon('ico-arrow')
            li
              a(href="#") Продукты
          h2 Выберите Вашу потребность
    // section
    section
      .products
        .container
          .check__grid
            .check__item
              label(for="checkbox_1") Выход в интернет
              input(type="checkbox" id="checkbox_1")
            .check__item
              label(for="checkbox_2") Звонки в центральный офис
              input(type="checkbox" id="checkbox_2")
            .check__item
              label(for="checkbox_3") Электронная почта и отчеты начальнику
              input(type="checkbox" id="checkbox_3")
            .check__item
              label(for="checkbox_4") Мессенджеры и соц сети
              input(type="checkbox" id="checkbox_4")
            .check__item
              label(for="checkbox_5") Скачивание и отправка презентаций и графики
              input(type="checkbox" id="checkbox_5")
            .check__item
              label(for="checkbox_6") Безлимитный выход в Интернет
              input(type="checkbox" id="checkbox_6")
            .check__item
              label(for="checkbox_7") Выход в интернет без изменения суточной скорости
              input(type="checkbox" id="checkbox_7")
            .check__item
              label(for="checkbox_8") Индивидуальные каналы связи под ключ
              input(type="checkbox" id="checkbox_8")
            .check__item
              label(for="checkbox_9") Интернет для личного пользования
              input(type="checkbox" id="checkbox_9")
            .check__item
              label(for="checkbox_10") Надежная связь для объекта государственного значения
              input(type="checkbox" id="checkbox_10")
            .check__item
              label(for="checkbox_11") Ораганизация видео-конференций
              input(type="checkbox" id="checkbox_11")
            .check__item
              label(for="checkbox_12") Вебинары и удаленные совещания
              input(type="checkbox" id="checkbox_12")
            .check__item
              label(for="checkbox_13") Точечные видеоконференции или разовая передача данных
              input(type="checkbox" id="checkbox_13")
            .check__item
              label(for="checkbox_14") Сотовая связь на объектах и станциях
              input(type="checkbox" id="checkbox_14")
            .check__item
              label(for="checkbox_15") Организация Системы коллективного доступа
              input(type="checkbox" id="checkbox_15")
            .check__item
              label(for="checkbox_16") Индивидуальное решение
              input(type="checkbox" id="checkbox_16")
            .check__item
              label(for="checkbox_17") Выход в море 
              input(type="checkbox" id="checkbox_17")
            .check__item
              label(for="checkbox_18") Связь в движении
              input(type="checkbox" id="checkbox_18")
            .check__item
              label(for="checkbox_19") Организация магистральных каналов
              input(type="checkbox" id="checkbox_19")
            .check__item
              label(for="checkbox_20") Строительство сложных магистральных объектов
              input(type="checkbox" id="checkbox_20")
            .check__item
              label(for="checkbox_21") Бесперебойная работа поточных приложений в режиме реального времени
              input(type="checkbox" id="checkbox_21")
            .check__item
              label(for="checkbox_22") Добыча полезных ископаемых
              input(type="checkbox" id="checkbox_22")
            .check__item
              label(for="checkbox_23") Социальный объект или государственное учреждение
              input(type="checkbox" id="checkbox_23")
