---
title: Promotions title
bodyClass: promotions-page
---
extends shared/_layout
block content

    // section
    section
      .page-head
        .head-bg(style="background-image: url(img/bg-promotions.jpg)")
        .container
          ul.breadcrumbs
            li
              a(href="#") Главная
            li
              a(href="#")
                +icon('ico-arrow')
            li
              a(href="#") Акции
          h2 Акции
    // section
    section
      .promotions
        .container
          .promotions__grid
            a.promotions__item(href="promotions-2.html") Выход в интернет
            a.promotions__item(href="promotions-2.html") Звонки в центральный офис
            a.promotions__item(href="promotions-2.html") Социальные сети
            a.promotions__item(href="promotions-2.html") Ввебинары и удаленные совещания
            a.promotions__item(href="promotions-2.html") Скачивание и отправка презентаций и графики
            a.promotions__item(href="promotions-2.html") Индивидуальные каналы связи под ключ
            a.promotions__item(href="promotions-2.html") Добыча полезных ископаемых
            a.promotions__item(href="promotions-2.html") Системы коллективного доступа
