.ico-adv {
  width: 4.13em;
  height: 1em;
  fill: initial;
}
.ico-case-icon {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-insta {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
